.nav-left {
    position: absolute;
    right: 30px;
}
.container {
    font-family: 'Sansita Swashed', cursive;
    width: 100px;
    display: flex;
	flex-direction: row;
  }
nav{
    font-family: 'Sansita Swashed', cursive;
}
/* From stackoverflow  */
.center{
    background-color:white; 
    border: 1px solid  #007BFF;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
h2{
    margin-left: 10px;
   padding-top: 10px;
   color: #007BFF;
}
h3{
    color:#08073B;
    padding-bottom: 5px;
}
section{    
     padding-bottom: 50px;
     min-height: 250px;
 }
 .submit-btn {
     margin-left: 20px;
     margin-bottom: 20px;
 }
 footer{
     text-size-adjust: 5px;
     text-align: center;
 }
 body{
    background-image:  url("../images/background.png");
    /*background image from https://www.pngitem.com*/
 }
 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #08073B;
    color: white;
    text-align: center;
 }
 .me{
    font-family: 'Sansita Swashed', cursive;
    margin-left: 50px;
    color:#08073B;
    text-decoration: underline;
 }
.cont img{
    width: 450px;
    height: 450px;
    margin-right:10px;
    margin-bottom:10px;
}
.cont {
	display: flex;
    flex-direction: row;
    height: 455px;
    font-family: 'Sansita Swashed', cursive;
    margin-top: 100px;
}
.middle {
    width: 455px;
    border-style: solid;
    margin-left: 200px;
}
p{
    margin-left: 20px;
}
div{
    line-height: 20px
}
.contact{
width: 350px;
margin-top: 60px;
margin-right: 40px;
}
.invalid p {
    display:inline-block;
    color: red;
}
.midd{
    width: 1300px;
    margin: 0 auto;
    margin-top: 160px;
    margin-left: 80px;
    height: 250px;
    font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
    font-size: 20px;
}
.mid{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 80px;
    height: 250px;
    font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
    font-size: 20px;
}
.mid2{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 80px;
    height: 250px;
    font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
    font-size: 20px;
}
i{
    padding: 120px;
    margin-top: 40px;
}
.one{
width: 370px;
float:left;
height:400px;
margin:20px;
margin-left: 0px;
}
.two {
    width: 370px;
    float:left;
    height:400px;
    margin:20px;
    margin-left: 0px;
}
.three {
    width: 460px;
    float:left;
    height:400px;
    margin:20px;
    margin-left: 0px;
}
.one p{
  
    margin-left: 130px;
}
.two p{

    margin-left: 130px; 
}
.three p{
    margin-left: 90px;
}
.cert img{
   width: 230px;
   height: 250px;
}
.cert2 img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border-style: solid;
    border-radius: 115px/50px;
 }
* {box-sizing: border-box;}
.capsule{
    margin-top: 75px;
    margin-left: 20px;
position: relative;
  width:550px;
  font-family: 'Sansita Swashed', cursive;

  float:left;
margin:40px;
margin-left: 20px;
}
.capsule img{
    width: 550px;
    display: inline-block;
    margin-right: 60px;
}
.test{

    margin-top: 75px;
    margin-left: 20px;
  width:550px;
  font-family: 'Sansita Swashed', cursive;

  float:left;
margin:40px;
margin-left: 20px;
}
.test img{
    width: 550px;
    display: inline-block;
    margin-right: 60px;
}
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 40px;
    text-align: center;
  }
  
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  
  .capsule:hover .overlay {
    opacity: 1;
  }
  .capsule a {
      color: white;
  }
  .capsule a{
      padding: 60px;
  }
  .capsule a:hover {
    color:#EE82EE;
  }


.first{
    width:300px;
    margin-bottom: 10px;
    padding-top: 20px;
    float:left;
 
    margin:20px;
    margin-left: 0px;
}
.sec{
        width:300px;
        float:left;
 
        margin:20px;
        margin-left: 0px;
}
.text{
    width: 500px;
    float:left;
    margin:20px;
    margin-left: 0px;
    margin-top: 70px;
    font-weight: bold;
    font-size: 40px;
    color:#08073B;
}
.text2{
    width: 500px;
    float:left;
    margin:20px;
    margin-left: 0px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
    color:#08073B;
}

.container1 {
    background-color: yellow;

    flex-direction: row;
    margin-top: 75px;
    margin-right: 20px; 
	width: 1300px;
}

.middle {
	margin-right: 20px; 
	width: 500px;
}